template(name="about")
  div.container(id="cont")
    | Written with love by,
    ul
      li Josh Rifkin
      li James Alavosus
      li Bracha Blau
      li Elliot Heller
      li Talya English
      
