template(name="layout")
  div.container
    div.row
      div.ui.blue.inverted.borderless.attached.menu
        a.brand.item MyMisheberach
        a.item(href="/") Home 
        a.item(href="randomlist") Rando List
        a.item(href="about") About Us 
        
        if currentUser
          div.right.menu
            a.item(href="addperson") Add a Misheberach
            a.item(href="profile") Profile Preferences
            a.item(id="logout") Logout
        else
          div.right.menu
            a.item(href="login") Login
            a.item(href="signup") Signup
            a.item(href="addperson") Add a Misheberach
            a.item(href="profile") Profile
        //- {{/if}}
        
  main
    div.ui.centered.grid
      {{>Template.dynamic template=content}}
