template(name="layout")
  div.container
    div.row
      div.ui.secondary.menu
        a.brand.item MyMisheberach
        a.item Home 
        a.item Rando List
        a.item About Us 
        
        div.right.menu
          a.item Login
          a.item Signup
          a.item Add a Peep
        
    div.container
      div.ui.centered.grid
        {{> yield}}
