template(name="home")
    div.row
      img(src='http://www.freewebheaders.com/wordpress/wp-content/gallery/judaism/western-wall-in-city-of-jerusalem-and-sunset-moment-web-header.jpg')
    div.row
      h1 Welcome to MyMisheberach!
    div.row
      h4 Helping Jews help each other
      
    div.row
      br
      a(href="signup")
        button.ui.button.green.massive Sign up
      a(href="addperson") 
        button.ui.button.blue.massive Add someone
