template(name="home")
  div.row
    img(src='http://www.freewebheaders.com/wordpress/wp-content/gallery/judaism/western-wall-in-city-of-jerusalem-and-sunset-moment-web-header.jpg')
  div.row
    h1 Welcome to MyMisheberach!
  div.row
    h4 At MyMisheberach, we are dedicated to giving each individual a manageable list of people to daven for every day.
  
  div.row
    button.ui.green.massive.button(href="#") Sign up
    button.ui.blue.massive.button(href="addperson") Add a Person
